* {
    box-sizing: border-box;
    
}

body {
    text-align: center;
    background-color: black;
    color: beige;
}

#container {
    width: 500px;
    height: 700px;
    margin: 0 auto;
    padding: 20px;
}

#calculator {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #413c3c;
    border-radius: 20px;
}

.component {
    width: 90%;
}

.component.screen {
    height: 15%;
    margin-top: 15px;
    background-color:#f0ffff;
    border-radius: 10px;
    padding: 5px;
}

.component.btn {
    height: 80%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    gap: 7px;
}

button {
    flex: auto;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 2em;
    font-weight: 700;
}

button.non-numerical {
    background-color: yellow;
}

.display {
    text-align: right;
    color: #0F0000;
    font-family: 'Courier New', Courier, monospace;
}

.display.display-1 {
    width: 100%;
    height: 65%;
    font-size: 40px;
}

.display.display-2 {
    width: 100%;
    height: 35%;
    font-size: 25px;
}

